@import "@/styles/index.scss";

.navbar-usrinfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-left: 0;
  order: 2;

  @include l_screen {
    order: 1;
    margin: 16px 0;
    margin-left: $navbar-marginleft;
  }

  &-avatar-icon {
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;

    @include s_screen {
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 18px;
    display: none;

    @include l_screen {
      display: block;
    }
  }

  &-username {
    color: $font-color-title;
    font-size: 20px;
    line-height: 28px;
  }

  &-email {
    color: $font-color-graytitle;
    font-size: 14px;
    line-height: 24px;
  }

  &-setting {
    margin-left: 28px;
    display: none;

    @include l_screen {
      display: block;
    }
  }
}

.user-avatar {
  width: 48px;
  min-width: 48px;
  height: 48px;
  vertical-align: middle;

  @include l_screen {
    width: 60px;
    min-width: 60px;
    height: 60px;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  order: 1;

  @include l_screen {
    order: 2;

    &:hover {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: $scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-color;
    }
  }

  &-list-title {
    display: none;
    margin-top: 16px;
    margin-left: $navbar-marginleft;
    line-height: 50px;
    color: $font-color-graytitle;
    font-size: 16px;

    @include l_screen {
      display: block;
    }
  }

  &-list {
    display: none;
    flex-direction: inherit;

    @include m_screen {
      display: flex;
    }

    &-setting[class] {
      display: none;

      @include l_screen {
        display: none;
      }

      @include m_screen {
        display: flex;
      }
    }

    &-menu[class] {
      display: flex;

      @include m_screen {
        display: none;
      }
    }
  }

  &-item:last-child {
    border-bottom: none;
  }

  &-item {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    height: 74px;
    padding-left: 0;
    padding-right: 14px;

    @include l_screen {
      flex-direction: row;
      width: 300px;
      padding-left: $navbar-marginleft;
      padding-right: 0;
    }

    &-active {
      display: flex;
      align-items: center;
      border-radius: 12px;

      @include l_screen {
        padding: 10px;
        border-radius: 8px;
      }
    }

    &-title {
      display: none;
      text-align: centers;
      color: $font-color-title;
      line-height: 100%;
      margin-left: 20px;

      @include l_screen {
        display: block;
      }
    }
  }
}
