// 颜色
$white: #ffffff;
$red: #f67171;
$orange: #ff8702;
$yellow: #ffb648;
$cyan: #12cdd9;
$purple: #9470f6;
$green: #23b07d;
$bluepurple: #696adf;
$blue: #32a7e2;
$grape: #b548c6;

$background-color: #dddded;
$navbar-background-color: #f3f3f8;

$font-color-title: #273240;
$font-color-graytitle: #949aa5;

$divisionline-color: #e8e8ed;

$min-width: 10px;

// navbar
$navbar-width: 356px;
$navbar-marginleft: 38px;

//icon
$icon-defauli-size: 20px;
$icon-defauli-bg-size: 38px;
$icon-default-bg-border-radius: 14px;

//content
$content-sider-margin: 70px;
$content-top-margin: 58px;
$content-bottom-margin: 38px;

// PADDING
$background-padding: 20px;

$hover_padding: 12px;

$border-bottom-line: 1px solid $divisionline-color;
