// color
$white: #ffffff;
$red: #f67171;
$orange: #ff8702;
$yellow: #ffb648;
$cyan: #12cdd9;
$purple: #9470f6;
$green: #23b07d;
$bluepurple: #696adf;
$blue: #32a7e2;
$grape: #b548c6;
$grayblue: #e4e7ee;
$gray: #949aa5;
$grayline: #eaeaea;
$deepbule: #37375c;

$background-color: #dddded;
$navbar-background-color: #f3f3f8;

// font
$font-color-title: #273240;
$font-color-graytitle: $gray;

$divisionline-color: #e8e8ed;

$min-width: 10px;

// navbar
$navbar-width: 356px;
$navbar-marginleft: 38px;

// icon
$icon-defauli-size: 20px;
$icon-defauli-bg-size: 38px;
$icon-default-bg-border-radius: 14px;

// content
$content-sider-margin: 70px;
$content-top-margin: 58px;
$content-bottom-margin: 58px;
$content-margin: 70px 58px;

// PADDING
$background-padding: 20px;

$hover_padding: 12px;

$border-bottom-line: 1px solid $divisionline-color;

// Charts
$figure-item-disable-color: $grayblue;
$figure-item-color: $blue;
$figure-item-top-radius: 6px;
$Charts-axis-height: 38px;
$Charts-axis-width: 50px;
$charts-axis-line-border: 1px dashed $grayline;
$charts-axis-color: $gray;

// popup
$popup-shadow-color: #dddddd;
