@import "@/styles/index.scss";

.histogram {
  &-warpper {
  }

  &-selector {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $font-color-graytitle;
    border-radius: 6px;
    padding: 0 10px;
    line-height: 28px;
  }

  &-chart {
    position: relative;
    width: 100%;
    height: 180px;
    margin-top: 40px;

    &-axisnumber {
      position: relative;
      height: 100%;
      width: 100%;

      &-x {
        display: flex;
        justify-content: space-around;

        position: absolute;
        bottom: 0;
        left: $Charts-axis-width;
        width: calc(100% - #{$Charts-axis-width});

        line-height: $Charts-axis-height;
        color: $charts-axis-color;
        font-size: 0.8em;
      }

      &-y {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        height: 100%;
        margin-top: -10px;
        padding-bottom: calc(#{$Charts-axis-height} - 20px);

        text-align: end;
        color: $charts-axis-color;
      }
    }

    &-area {
      position: absolute;
      width: calc(100% - #{$Charts-axis-width});
      height: calc(100% - #{$Charts-axis-height});
      right: 0;
      bottom: 0px;
      margin-bottom: $Charts-axis-height;
    }

    &-axis {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-line {
        border-bottom: $charts-axis-line-border;
        width: 100%;
      }
    }

    &-figure {
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;

      &-warpper {
        position: relative;
        flex: 1;
        height: 100%;
      }

      &-single {
        height: 0;
        position: absolute;
        bottom: 0;
        width: 60%;
        left: 50%;
        transform: translate(-50%, 0);
        border-top-left-radius: $figure-item-top-radius;
        border-top-right-radius: $figure-item-top-radius;
        background-color: $figure-item-disable-color;
      }

      &-single:hover {
        background-color: $blue;
      }
    }
  }
}
